{% extends 'base.html.twig' %}

{% block title %}{{ figure.figureName }}{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="figure-name">
        <div class="container ad-title mb-3 bg-primary">
            {% if figure.figureName == null %}
                <h1 style="text-align: center">Saisissez une figure.</h1>
            {% else %}
                <h2 style="text-align: center">{{ figure.figureName }}</h2>
            {% endif %}
        </div>
    </div>

    <div class="container">
        <div class="row mb-3 bg-primary d-flex justify-content-center">
            <!-- Fenêtre de modal -->
            <div class="modal fade" id="deleteModal_{{ figure.slug }}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Fenêtre de suppression.</h3>
                        </div>
                        <div class="modal-body">
                            <p>Confirmez-vous la suppression !</p>
                        </div>
                        <div class="modal-footer">
                            <!-- button type="button" class="btn btn-danger" data-dimiss="modal">Valider</button -->
                            {% if figure.slug == null %}
                                {% set slug = " " %}
                            {% else %}
                                {% set slug = figure.slug %}
                            {% endif %}

                            <a href="{{ path('figure_supp', {'slug': slug}) }}" class="btn btn-danger">Valider</a>
                        </div>
                    </div>
                </div>
            </div>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="mb-3 btn btn-secondary">Enregistrement.</button>

            <button type="button" class="mb-3 btn btn-danger">
                <a data-toggle="modal" href="#deleteModal_{{ figure.slug }}" class="white">
                    Suppression.
                </a>
            </button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}



{% block _figure_picture_widget %}
    <p>Ici, vous pouvez ajouter vos propres pictures !</p>

    {{ form_widget(form) }}

    <input type="hidden" id="widgets-counter-picture" value="0">

    <div class="form-group">
        <button type="button" id="add-picture" class="btn btn-secondary">Ajouter une picture</button>
    </div>
{% endblock %}

{% block _figure_picture_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _figure_picture_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.url) }}
                    </div>
                    <div>
                        {{ form_widget(form.booleanImageVideo) }}
                    </div>
                </div>
            </div>


            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block _figure_video_widget %}
    <p>Ici, vous pouvez ajouter vos propres videos !</p>

    {{ form_widget(form) }}

    <input type="hidden" id="widgets-counter-video" value="0">

    <div class="form-group">
        <button type="button" id="add-video" class="btn btn-secondary">Ajouter une video</button>
    </div>
{% endblock %}

{% block _figure_video_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _figure_video_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col-6">
                        {{ form_widget(form.url) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(form.docuImage) }}
                    </div>
                    <div>
                        {{ form_widget(form.booleanImageVideo) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#add-picture').click(function(){
            const index = +$('#widgets-counter-picture').val();
            const tmpl = $('#figure_picture').data('prototype').replace(/__name__/g, index);
            $('#figure_picture').append(tmpl);

            $('#widgets-counter-picture').val(index + 1);

            handleDeleteButtons();
        })

        $('#add-video').click(function(){
            const index = +$('#widgets-counter-video').val();
            const tmpl = $('#figure_video').data('prototype').replace(/__name__/g, index);
            $('#figure_video').append(tmpl);

            +$('#widgets-counter-video').val(index + 1);

            handleDeleteButtons();        })

        function handleDeleteButtons() {
            $('button[data-action="delete"]').click(function() {
                const target = this.dataset.target;
                $(target).remove();
            })
        };

        function updateCounter() {
            const countPicture = +$('#figure_picture div.form-group').length;
            $('#widgets-counter-picture').val(countPicture);

            const countVideo = +$('#figure_video div.form-group').length;
            $('#widgets-counter-video').val(countVideo);
        }

        updateCounter();
        handleDeleteButtons();
    </script>
{% endblock %}